.description {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.request__delete {
    border-radius: 10px; 
    padding: 5px 9px;
    border: 3px solid gray;
    background-color: rgba(235, 19, 235, 0.693);
    margin: 20px 20px;
    box-shadow: 1px 1px 5px black; 
    text-shadow: 1px 1px 3px whitesmoke
}